# Base de datos (PostgreSQL)
DATABASE_URL="postgresql://usuario:password@localhost:5432/quiniela_mundial?schema=public"

# Autenticación JWT
JWT_SECRET="cambia-este-valor-por-un-secreto-largo-y-aleatorio"
JWT_EXPIRES_IN="1d"

# Servidor
PORT=3000

# Sincronización con thesportsdb.com
THESPORTSDB_API_KEY="123"
THESPORTSDB_BASE_URL="https://www.thesportsdb.com/api/v1/json"


# PASO 1: Instalar dependencias
npm install

# PASO 2: Crear .env con tus credenciales
cp .env.example .env

# para arrancar el servidor por primera vez
 Crear la BD y aplicar migraciones (CRÍTICO)
npx prisma migrate dev --name init

# PASO 4: Iniciar el servidor
npm run start:dev


# PARA EL FRONT
# PASO 1: Instalar dependencias
npm install

# PASO 2:
npm run dev